%round {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #991E66;
 div {
   color: #fff;
 }
}

.bigRound {
  @extend %round;
  position: absolute;
  height: 40px;
  width: 40px;
  top: -12px;
  right: -8px;
  div {
    position: absolute;
    left: 13px;
    top: 16px;
    font-size: 12px;
  }
}
.smallRound {
  @extend %round;
  height: 16px;
  width: 16px;
  div {
    font-size: 10px;
  }
}