.aside{
  @include position(fixed, 0, 0, 0, auto);
  z-index: 9;
  min-height : 100%;
  background-color: $cf;
  width: 280px;
  transform: translate(100%, 0);
  transition: .2s ease;
  padding: 0;
  display: flex;
  flex-direction: column;
  
  @include media-breakpoint-up(lg){
    padding-left: 15px;
    padding-right: 15px;
  }

  &.active{
    transform: translate(0, 0);
  }

  @include media-breakpoint-up(lg){
    @include position(relative, auto, auto, auto, auto);
    max-width: 337px;
    width: auto;
    transform: translate(0, 0);
  }

  &__nav{

    @include media-breakpoint-up(lg){
      margin-left: -15px;
      margin-right: -15px;
    }

    .nav-item{

      .nav-link{
        font-size: 14px;
        // font-weight: 700;
        line-height: 1.25;
        color: $primaryText;
        padding: 1.95em 2em;
        border-bottom: 2px solid #F2F7FC;
        display: flex;
        align-items: center;
        transition: .2s ease;
        position: relative;

        @include media-breakpoint-up(lg){
          font-size: 16px;
        }

        &:before{
          content: '';
          @include position(absolute, 4px, null, 4px, 0);
          @include size(6px, calc(100% - 8px));
          border-radius: 0 6px 6px 0;
          background-color: transparent;
          transition: .2s ease;
        }

        svg{
          margin-right: 20px;

          path{
            fill: #D8DAE0;
            transition: .2s ease
          }
        }
        
        &:hover{

          svg{
  
            path{
              fill: #1f1f1f
            }
          }
        }

        &.active{
          font-weight: 700;

          &::before{
            background-color: #8e0b56;
          }

          svg{
  
            path{
              fill: #1f1f1f
            }
          }
        }
      }
    }
  }
}

.menu-shadow{
  background-color: rgba($c0,.25);
  @include position(fixed, 0, 0, 0, 0);
  z-index: 7;
}