.feedback{
  font-size: 14px;
  padding: 1em 0 2em;
  &:not(:last-child){
    border-bottom: 1px solid $bdColor;
  }
  @include media-breakpoint-up(md){
    font-size: 16px;
  }

  &__header{
    align-items: center;
  }

  &__userpic{
    @include size(46px);
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;

    @include media-breakpoint-up(md){
      @include size(80px);
      margin-right: 20px;
    }
  }

  &__postdate{
    color: #7f8184;
    font-size: 12px;

    @include media-breakpoint-up(md){
      font-size: 16px;
    }
  }

  &__username{
    font-weight: 700;
    font-size: 12px;

    @include media-breakpoint-up(md){
      font-size: 16px;
    }
  }

  &__body{
    margin-top: auto;

    @include media-breakpoint-up(md){
      margin: 0;
    }

    a{
      color: $primaryText;
      display: flex;
      align-items: center;
      margin: 5px 0;

      svg{
        margin-right: 5px;
      }

      @include media-breakpoint-up(md){
        display: inline-flex;
        margin: 0 28px 0 0;

        &:last-child{
          margin: 0;
        }

        svg{
          margin-right: 10px;
        }
      }

      &:hover{
        text-decoration: none;
        color: lighten($primaryText, 15%);
      }
    }
  }
  
  &__full{
    padding: 1em 1.35em;

    .row{
      padding-bottom: .5em;
    }

    h3{
      font-size: 14px;
      font-weight: 700;
      margin: 0 0 1.2em;

      @include media-breakpoint-up(md){
        font-size: 16px;
      }
    }

    label{
      font-size: 14px;
      color: #7f8184;
      margin: 0;
      padding: 0.33em 0;

      @include media-breakpoint-up(md){
        font-size: 16px;
      }
    }
  }

  &__buttons{
    @include media-breakpoint-up(md){
      flex-wrap: nowrap;
    }

    .btn{
      width: 100%;
      font-size: 14px;
      flex: 1 1 auto;
      height: 48px;
      font-weight: 700;

      &:not(:first-child){
        margin-top: 0.5em;

        @include media-breakpoint-up(md){
          margin-top: 0;
          margin-left: 1rem;
          margin-right: 1rem;
        }
      }

      @include media-breakpoint-up(md){
        width: auto;
      }

      &-link{
        color: $primaryText;
        text-decoration: none;

        &:hover,
        &:active, 
        &:focus {
          background-color: darken($cf,20%);
          box-shadow: none;
          color: $primaryText;
          &:hover,
          &:active, 
          &:focus{
            background-color: darken($cf,20%);
            box-shadow: none;
            color: $primaryText;
          }
        }
      }
    }
  }

  &__place{
    font-size: 14px;
    padding-bottom: 1.25em;

    @include media-breakpoint-up(md){
      font-size: 16px;
    }
  }

  // Обертка для списка отзывов
  &-list{
    background-color: $cf;
    box-shadow: 0 0 4px rgba(#294565, .15);
    border-radius: 8px;
    margin: 10px 0;
    max-width: 666px;

    @include media-breakpoint-up(md){
      margin: 20px 35px;
    }

    &__header{
      font-weight: 700;
      padding: 1em 1.35em;
      font-size: 14px;
      border-bottom: 1px solid $bdColor;
      @include media-breakpoint-up(md){
        font-size: 18px;
      }
    }

    &__body{
      padding: 0 1em;
    }
  }

  // Подробная страница
  &-full{

    .feedback{
      // padding-left: 15px;
      // padding-right: 15px;
      border-bottom: 1px solid $bdColor;
      padding: 1em 1.35em;
    }
  }

  &__calendar{
    position: relative;
    width: 100%;

    @include media-breakpoint-up(md){
      width: auto;
    }

    .flatpickr-input{

      &.input{
        position: absolute;
        z-index: -1;
      }
    }
  }
}

// .flatpickr-calendar{

//   &.flatpickr-modal{
//     @include position(fixed);
//     transform: translate(-50%);
//   }
// }