* {
  outline : none !important;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none; 
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: $ffGlobal;
  font-size: 16px;
  color: $primaryText;
  background-color: $bodyColor;
  min-width: 100%;
  height: 100%;
}

#root{
  min-width: 100%;
  height: 100%;

  .App{
    min-height: 100%;
  }
}

input,
textarea{ 
  -moz-user-select: text;
  -khtml-user-select: text;
  user-select: text; 
  -webkit-user-select : text; 
}

.form-group{
  margin-bottom: 1.5rem;
}

.form-control{
  height: 48px;
  border: 1px solid $bdColor;
  border-radius: 4px;
  background-color: $cf;

  &.flatpickr-input{
    max-width: 133px;
  }

  &[readonly]{
    background-color: $cf;
  }

  &.error{
    border-color: $errorColor;
  }
}

.text-error{
  color: $errorColor;
  font-size: 12px;
}

.form-wrapper{
  padding-left: 0;
  padding-right: 0;

  @include media-breakpoint-up(sm){
    padding-left: 15px;
    padding-right: 15px;
  }
}

.btn{

  &.remove-place{
    padding: 5px 0;
    color: $errorColor;

    @include media-breakpoint-up(sm){
      padding: 0;
    }
  }
  &_brand,
  &-primary{
    background-color: $primaryColor;
    box-shadow: 0px 4px 4px rgba($c0, 0.25);
    color: $cf;
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    outline: none !important;

    &:hover,
    &:active, 
    &:focus {
      background-color: darken($primaryColor, 10%);
      outline: none !important;
      box-shadow: 0px 4px 4px rgba($c0, 0.25);
      &:hover,
      &:active, 
      &:focus{
        background-color: darken($primaryColor, 10%);
        outline: none !important;
        box-shadow: 0px 4px 4px rgba($c0, 0.25);
      }
    }

    &:not(:disabled):not(.disabled){
      &:hover,
      &:active, 
      &:focus {
        background-color: darken($primaryColor, 10%);
        outline: none !important;
        box-shadow: 0px 4px 4px rgba($c0, 0.25);
        &:hover,
        &:active, 
        &:focus{
          background-color: darken($primaryColor, 10%);
          outline: none !important;
          box-shadow: 0px 4px 4px rgba($c0, 0.25);
        }
      }
    }
  }
  &_xlg,
  &-xlg {
    max-width: 100%;
    width: 320px;
    height: 48px;
  }
  &_lg,
  &-lg {
    max-width: 100%;
    width: 100%;
    height: 48px;

    @include media-breakpoint-up(sm){
      width: 240px;
    }
  }
  &-secondary{
    background-color: $bdColor;
    border: none;
    box-shadow: none;
    color: $primaryText;
    font-size: 16px;

    @include media-breakpoint-up(sm){
      font-size: 18px;
    }

    img{
      margin-right: 12px;
    }

    &:hover,
    &:active, 
    &:focus {
      background-color: darken($bdColor,10%);
      box-shadow: none;
      color: $primaryText;
      &:hover,
      &:active, 
      &:focus{
        background-color: darken($bdColor,10%);
        box-shadow: none;
        color: $primaryText;
      }
    }

    &:not(:disabled):not(.disabled){
      &:hover,
      &:active, 
      &:focus {
        background-color: darken($bdColor,10%);
        box-shadow: none;
        color: $primaryText;
        &:hover,
        &:active, 
        &:focus{
          background-color: darken($bdColor,10%);
          box-shadow: none;
          color: $primaryText;
        }
      }
    }
  }
  &-success{
    background-color: $successColor;
    border-color: $successColor;
    box-shadow: 0px 2px 6px rgba(56, 60, 100, 0.25);
  }
}

.dropzone{
  font-family: $ffGlobal;
  height: auto !important;
  contain: content;
  margin: 0;
  background-color: $bdColor;
  width: 100%;
  border-radius: 4px;
  transition: .2s ease;
  cursor: pointer;
  border: 1px solid $bdColor;

  &:hover{
    background-color: darken($bdColor, 10%);
    border-color: darken($bdColor, 10%);
  }

  &.error{
    border-color: $errorColor;
  }

  + .text-error{
    width: 100%;

    @include media-breakpoint-up(sm){
      width: 240px;
    }
  }

  @include media-breakpoint-up(sm){
    width: 240px;
  }

  &__label {
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
      margin-right: 15px;
    }
  }

  &__list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    padding-right: -8px;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
  }

  &__item{
    padding: 8px;
    position: relative;
  }

  &__remove{
    background-color: $errorColor;
    padding: 6px;
    @include size(22px);
    @include position(absolute, 0, 0, auto, auto);
    border: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
      max-width: 100%;
    }
  }

  &__img{
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    @include size(56px,48px);

    img{
      @include size(100%);
      object-fit: cover;
    }
  }
}

.filepond{
  &--root{
    font-family: $ffGlobal;
    height: auto !important;
    contain: content;
    margin: 0;
  }
  &--panel-root{
    background-color: transparent;
  }
  &--drop-label{
    width: 100%;
    background-color: $bdColor;
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
    color: $primaryText;
    cursor: pointer;
    transition: .2s ease;

    @include media-breakpoint-up(sm){
      max-width: 240px;
    }

    label{
      padding: 0;
      cursor: pointer;

      img{
        margin-right: 12px;
      }
    }

    .filepond--root &{
      min-height: 48px;
    }

    &:hover{
      background-color: darken($bdColor, 10%);
    }
  }
  &--drip-blob, 
  &--drop-label{
    position: relative;
  }
  &--list{
    @include position(relative, auto, auto, auto, auto);
    &.filepond--list{
      @include position(relative, auto, auto, auto, auto);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      // padding: 24px 0;
      // overflow-x: auto;

      // scrollbar-width: none;
      // overflow-x: hidden;
      // overflow-y: auto;

      // &::-webkit-scrollbar { 
      //   /* This is the magic bit for WebKit */
      //   display: none;
      // }
    }
    &-scroller{
      position: relative;
      transform: translate3d(0,0,0) !important;

      .filepond--root &{
        margin: 0;
      }
    }
  }
  &--item{
    @include position(relative, auto, auto, auto, auto);
    @include size(56px !important);
    transform: translate3d(0,0,0) !important;
    transition: .2s ease;
    margin: 24px 16px 0 0;
  }

  &--file{
    padding: 0;
    @include position(relative, auto, auto, auto, auto);

    .filepond--action-remove-item{
      // display: block;
      @include position(absolute, -6px, -6px, auto, auto);
    }
  }
}

.preloader{
  padding: 30px;
  height: 100%;

  &.fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($c0, .5);
  }
}
@keyframes square-spin {
  // 25% {
  //     -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
  //     transform: perspective(100px) rotateX(0) rotateY(0)
  // }

  33% {
      -webkit-transform: perspective(300px) rotateX(0) rotateY(0);
      transform: perspective(300px) rotateX(0) rotateY(0)
  }

  66% {
      -webkit-transform: perspective(300px) rotateX(0) rotateY(180deg);
      transform: perspective(300px) rotateX(0) rotateY(180deg)
  }

  // 75% {
  //     -webkit-transform: perspective(300px) rotateX(0) rotateY(180deg);
  //     transform: perspective(300px) rotateX(0) rotateY(180deg)
  // }

  100% {
      -webkit-transform: perspective(300px) rotateX(0) rotateY(360deg);
      transform: perspective(300px) rotateX(0) rotateY(360deg)
  }
}