$fonts-path : '../fonts';
$avenir : "#{$fonts-path}/AvenirNextCyr";

$ffGlobal : 'Avenir Next Cyr', sans-serif;

$cf : #fff;
$c0 : #000;

$bodyColor : #E5E5E5;
$primaryColor : #991E66;
$errorColor : #E38282;
$primaryText : #242D4A;
$secindaryColor : #DDE9F9;
$bdColor : #D8DAE0;
$successColor : #4DCA95;