@mixin position(
  $position, 
  $top: null, 
  $right: null, 
  $bottom: null, 
  $left: null
){
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin size($width, $height : $width) {
  width: $width;
  height: $height;
}