@import '../../assets/scss/variables';
@import '../../assets/scss/mixins/sugar';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.header{
  background: $secindaryColor;
  position: relative;
  overflow: hidden;
  display: none;

  @include media-breakpoint-up(md){
    display: block;
  }

  &.main{
    min-height: 100%;
    height: 100%;
    display: block;

    .container{
      min-height: 100%;
      height: 100%;
      align-items: center;
      // justify-content: center;
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 3;

      .btn{
        margin-top: auto;  
        margin-bottom: 1.5rem;
        width: auto;
      }
    }
  }

  &__logo{
    width: 88px;
    height: 88px;
    position: absolute;
    top: 100px;
    left: 15px;

    .header.main &{
      margin-top: 3rem;
      position: relative;
      top: auto;
      left: auto;
    }
  }

  &__people{
    position: absolute;
    right: 8%;
    bottom: 0;
    display: none;

    @include media-breakpoint-up(md){
      display: block;
      right: -35%;
    }
    @include media-breakpoint-up(lg){
      right: -10%;
    }
    @include media-breakpoint-up(xl){
      right: 5%;
    }

    .header.main &{
      display: block;
      max-width: 100%;
      right: 0;
      bottom: 0;

      @include media-breakpoint-up(sm){
        right: 8%;
        bottom: 0;
      }
      @include media-breakpoint-up(md){
        display: block;
        right: -35%;
      }
      @include media-breakpoint-up(lg){
        right: -10%;
      }
      @include media-breakpoint-up(xl){
        right: 5%;
      }
    }
  }

  &__title{
    max-width: 530px;
    font-size: 36px;
    font-weight: 700;
    padding: 260px 0 180px;
    position: relative;
    z-index: 1;

    .header.main &{
      text-align: center;
      padding: 30px 0 90px;
      font-size: 20px;

      @include media-breakpoint-up(sm){
        font-size: 36px;
        padding: 130px 0 90px;
      }
    }
  }

  &-lk{
    @include position(sticky, 0, 0, auto, 0);
    z-index : 2;

    @include media-breakpoint-up(lg){
      position: relative;
    }
    //  evg: ниже класс для хедера в разделе должности
    .light {
      @media (max-width: 991px) {
        background-color: #F3F6FA;
        padding-bottom: 0 !important;
        a {
          margin-left: 3px;
          color: #242D4A;
          font-size: 18px;
          font-weight: bold;
        }
        img{
          margin-right: -4px !important;
        }
      }
    }

    &__logo{
      background-color: $primaryColor;
      display: flex;
      color: $cf;
      padding-top: 12px;
      padding-bottom: 12px;
      align-items: center;

      a{
        color: $cf;
        display: inline-flex;
        align-items: center;
        transition: .2s ease;

        &:hover{
          color: darken($cf, 15%);
          text-decoration: none;
        }
      }

      @include media-breakpoint-up(lg){
        max-width: 337px !important;
      }

      .aside &{
        border-bottom: 2px solid #F2F7FC;
        padding: 12px 15px;

        a{
          color: $primaryText;
          display: inline-flex;
          align-items: center;
          transition: .2s ease;
  
          &:hover{
            color: darken($primaryText, 15%);
            text-decoration: none;
          }
        }
      }

      &_transparent{
        background-color: transparent;
        color: $primaryText;
      }

      img{
        @include size(56px);
        margin-right: 15px;
        // animation: square-spin 3s 0s cubic-bezier(.09,.57,.49,.9) infinite;
        
        @include media-breakpoint-up(lg){
          margin-right: 40px;
        }

        // @include media-breakpoint-up(lg){
        //   margin-right: 16%;
        // }
      }
    }

    &__btn{

      &.btn.btn-secondary:not(:disabled):not(.disabled){
        background-color: transparent;
        width: auto;
        display: flex;
        text-align: left;
        margin-right: -15px;
        padding-right: 20px;
        
        &:hover,
        &:active,
        &:focus{
          background: transparent;
          &:hover,
          &:active,
          &:focus{
            background: transparent;
          }
        }

        svg{
          path{
            fill: $cf;

            .aside & {
              fill: #7F8184;
            }
          }
        }
      }
    }

    &__user{

      &.btn.btn-secondary:not(:disabled):not(.disabled){
        background-color: transparent;
        width: auto;
        display: flex;
        text-align: left;

        .aside &{
          margin-top: auto;
        }

        .username{
          font-weight: 700;
          font-size: 16px;
        }
        .userposition{
          font-size: 14px;
        }

        .userpic{
          @include size(48px);
          border-radius: 50%;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $cf;
          margin-right: 16px;

          img{
            margin: 0;
          }
        }

        &:hover,
        &:active,
        &:focus{
          background: transparent;
          &:hover,
          &:active,
          &:focus{
            background: transparent;
          }
        }
      }
    }
  }
}