@import '../../assets/scss/variables';
@import "../../assets/scss/mixins/sugar";
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.profileForm{
  background-color: $cf;
  padding: 16px;

  @include media-breakpoint-up(sm){
    border-top: 6px solid $primaryColor;
    box-shadow: 0px 2px 7px rgba(40, 64, 125, 0.25);
    margin-bottom: 100px;
  }

  @include media-breakpoint-up(md){
    margin-top: -80px;
    padding: 60px;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 52px;

    @include media-breakpoint-up(md){
      font-size: 28px;
    }
  }

  &__label {
    font-size: 16px;
    margin-bottom: 0;

    &.col-form-label{
      font-size: inherit;
    }

    @include media-breakpoint-up(md){
      font-size: 18px;

      &.col-form-label{
        font-size: inherit;
      }
    }
    
    &_medium{
      font-weight: 500;
    }
  }

  &__radio,
  &__checkbox {
    margin-bottom: 0;
    padding-left: 32px;
    position: relative;

    &.error{
      color: $errorColor;

      div.wrap{
        &:before{
          box-shadow: 0 0 0 1px $errorColor;
        }
      }
    }

    div.wrap{

      > *{
        display: inline;
      }

      > .btn-link{
        padding: 0;
        white-space: pre-wrap;
      }

      &:before{
        content: '';
        @include position(absolute, 3px, null, null, 0);
        @include size(14px);
        border-radius: 50%;
        box-shadow: 0 0 0 1px $bdColor;
        border: 3px solid $cf;
        background-color: transparent;
        display: block;
        transition : .2s ease;
        @include media-breakpoint-up(md){
          @include size(18px);
        }
      }
    }
    
    input {
      display: none;

      &:checked + div.wrap:before{
        background-color: $primaryColor;
      }
    }

    &_inline:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__checkbox{
    &.error{

      div.wrap{
        &:before{
          box-shadow: none;
          border-color: $errorColor;
        }
      }
    }

    div.wrap{

      &:before{
        content: '';
        @include position(absolute, 4px, null, null, 0);
        @include size(16px);
        border-radius: 4px;
        border: 1px solid $bdColor;
        background-color: transparent;
        display: block;
        transition : .2s ease;
        box-shadow: none;
      }

      &:after{
        content: '';
        @include position(absolute, 7.5px, null, null, 3px);
        @include size(9px, 6px);
        border: 2px solid transparent;
        transform: rotate(-46deg);
        transition : .2s ease;
        border-top: 0;
        border-right: 0;
      }
    }

    input {
      display: none;

      &:checked + div.wrap{
        &:before{
          background-color: $primaryColor;
          border-color: $primaryColor;
        }
        &:after{
          border-color: $cf;
        }
      }
    }
  }
}