.back {
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
  z-index: 999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 0 16px;
  .wrapper {
    width: 100%;
    margin-top: 23vh;
    height: 274px;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(41,69,101,0.15);
    border-radius: 4px;
    >div:nth-of-type(1) {
      display: flex;
      justify-content: center;
      svg {
        margin-top: 40px;
      }
    }
    >div:nth-of-type(2) {
      font-size: 14px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 16px;

    }
    >div:nth-of-type(3) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      margin: 23px 16px 0 16px;
      border-radius: 4px;
      background-color: #991E66;
      box-shadow: 0 2px 6px rgba(56, 60, 100, 0.25);
      color: #fff;
      font-size: 12px;
      line-height: normal;
    }
  }
}