.wrapper {
  position: relative;
  height: 140px;
  margin-top: 16px;
  margin-bottom: 8px;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(41,69,101,0.15);
  border-radius: 8px;
  color: #242D4A;
  line-height: normal;
  padding: 0 !important;
  .header{
    display: flex;
    height: 39px;
    align-items: center;
    padding-left: 16px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px #D8DAE0 solid;
  }
  .bodyWrapper{
    display: flex;
    flex-direction: column;
    height: 101px;
    overflow: hidden;

    .bodyText {
      padding: 13px 16px 0 16px;
      font-size: 12px;
      line-height: normal;
      .title {
          padding-bottom: 1em;
          font-weight: bold;
          font-size: 12px;
          line-height: normal;
      }
      .text {
        padding-bottom: 1em;
      }
      .borderText {
        display: flex;
        padding-left: 16px;
        align-items: center;
        min-height: 40px;
        height: 40px;
        border-radius: 4px;
        border: 1px solid #D8DAE0;
        margin: 7px 0 0;
      }
    }
  }
  .eclipse {
    position: absolute;
    left: 0;
    right: 0;
    height: 25px;
    bottom: 0;
    border-radius: 0 0 8px 8px;
    background: linear-gradient(180deg, rgba(255,255,255,0) -28.57%, #fff 47.62%);
  }
  .wrapperRound{
    height: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    .whiteRound {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: -12px;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      background: linear-gradient(180deg, rgba(255,255,255,0) 30%, #fff 47.62%);
      box-shadow: 0 1px 0 rgba(41,69,101,0.15);
      img {
        margin-top: 5px;
      }
    }
  }
}

.openWrapper {
  height: auto !important;
  .saveButton, .input {
    height: 40px;
    margin: 0 16px;
    border-radius: 4px;
  }
  .warning {
    border-color: red !important;
    color: red !important;
  }
  .warning::-webkit-input-placeholder {color:rgba(255,0,0,0.9);}
  .warning::-moz-placeholder          {color:rgba(255,0,0,0.9);}/* Firefox 19+ */
  .warning:-moz-placeholder           {color:rgba(255,0,0,0.9);}/* Firefox 18- */
  .warning:-ms-input-placeholder      {color:rgba(255,0,0,0.9);}
  .input{
    min-height: 40px;
    height: auto;
    white-space: normal;
    border: 1px solid #D8DAE0;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 7px;
    font-size: 12px;
    line-height: normal;
    color: #7F8184;
    text-indent: 16px;

  }
  .saveButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #991E66;
    margin-top: 12px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(56, 60, 100, 0.25);
    color: #fff;
    font-size: 12px;
    line-height: normal;
  }
}

.displayNone {
  display: none !important;
}