// POSITION HEADER
.header{
  display: flex;
  height: auto;
  width: 100%;
  margin-top: 27px;

.wrapperArrow {
    display: flex;
    align-items: center;
    img {
      height: 12px;
      width: 12px;
    }
  }

.wrapperName {
  height: auto;
    display: flex;
    flex: 0 2 auto;
    margin-left: 8px;
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    color: #242D4A;
    span{ /* evg: у меня нет инструкций,
    как отображать слишком длинное название вакансий, так что просто скрываю
    то что вываливается через контейнер*/
      overflow: hidden;
    }
    .wrapperRound {
      height: 20px;
      width: 16px;
      display: flex;
      align-items: flex-end;
      margin-left: 4px;
    }
  }

  .wrapperLittleMen {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    flex: 1 1 auto;
    margin-left: 10px;
    height: 22px;
    >div{
      display: flex;
      >div {
      display: flex;
      align-self: flex-end;
      margin-left: 3px;
      }
    }
  }
}