.wrapper {
  height: auto;
  margin-top: 16px;
  margin-bottom: 24px;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(41, 69, 101, 0.15);
  border-radius: 8px;
  color: #242D4A;
  line-height: normal;
  padding: 10px 16px 24px 16px;

  .title {
    color: #242D4A;
    font-size: 14px;
    line-height: normal;
    font-weight: bold;
  }
  .button, .input {
    height: 40px;
    border-radius: 4px;
  }
  .warning {
    border-color: red !important;
    color: red !important;
  }
  .warning::-webkit-input-placeholder {color:rgba(255,0,0,0.9);}
  .warning::-moz-placeholder          {color:rgba(255,0,0,0.9);}/* Firefox 19+ */
  .warning:-moz-placeholder           {color:rgba(255,0,0,0.9);}/* Firefox 18- */
  .warning:-ms-input-placeholder      {color:rgba(255,0,0,0.9);}
  .input{
    height: 40px;
    width: 100%;
    border: 1px solid #D8DAE0;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 12px;
    line-height: normal;
    color: #7F8184;
    text-indent: 16px;
    margin-bottom: 18px;
  }
  .button {
    display: flex;
    align-items: center;
    text-indent: 16px;
    background-color: #991E66;
    margin-top: 14px;
    margin-bottom: 12px;
    box-shadow: 0 2px 6px rgba(56, 60, 100, 0.25);
    color: #fff;
    font-size: 12px;
    line-height: normal;
  }
  .link {
    position: relative;
    margin-top: 12px;
    font-size: 12px;
  }
    .linkTitle{
      display: flex;
      justify-content: space-between;
      line-height: 16px;
      color: #242D4A;
      img {
        height: 13px;
      }
      .toggle {
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 13px;
        width: 3px;
        color: #242D4A;
        padding: 0 !important;
        background: none !important;
      }
    }

    .modalLink {
      padding: 0!important;
      z-index: 999900;
      height: 71px;
      width: 144px !important;
      min-width: 144px !important;
      box-shadow: 0px 2px 6px rgba(56, 60, 100, 0.25);
      background: #fff;
      bottom: -58px;
      right: 0;
      flex-direction: column;
      justify-content: space-around;
      top: 20px !important;
      left: 6px !important;
    }
  .addMargin{
    top: 0 !important;
    margin-right: 10px !important;
  }
  .dropItem {
    font-size: 12px;
    line-height: 16px;
    color: #242D4A;
    padding: 0 !important;
    margin-left: 12px;
    margin-top: 12px;
    background: none !important;
  }
  .dropItem:hover {
    background: none;
  }
  }

.displayNone {
  display: none !important;
}