.wrapper {
  height: 160px;
  margin-top: 16px;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(41, 69, 101, 0.15);
  border-radius: 8px;
  color: #242D4A;
  line-height: normal;
  padding: 10px 16px 0 16px;

  .title {
    color: #242D4A;
    font-size: 14px;
    line-height: normal;
    font-weight: bold;
  }
  .button {
    margin-top: 12px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(56, 60, 100, 0.25);
    color: #fff;
    font-size: 12px;
    line-height: normal;
    .hh{
      margin-right: 7px;
    }
  }
}