/**  evg: документация реактстрапа суперстремная, что касается
  лайаута, не нашел там как инлайново управлять отступами, поэтому
  переопределяю паддинги в стилях
**/

.wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
  background-color: #F3F6FA;
  padding: 0 !important;
}


.position {
  @media (max-width: 500px) {
    min-width: 100%;
  }
  @media (min-width: 501px) and (max-width: 601px) {
    min-width: 400px;
  }
  min-width: 288px;
  max-width: 288px !important;
  flex-basis: 288px !important;
  flex-grow: 1;
  display: flex;
  background-color: #fff;
  height: 64px;
  padding: 0 !important;
  margin-top: 12px;
  box-shadow: 0 0 4px rgba(41,69,101, 0.15);
  border-radius: 4px;
  overflow: hidden;
  .iconBox {
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
    }
  }
  .infoBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 14px 0 14px 0;
    .header, .info {
      font-size: 12px;
      line-height: normal;
      color: #242D4A;
    }

    .header {
      font-weight: bold;
    }
  }
}